// app global css in SCSS form
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.thead-sticky tr > *,
.tfoot-sticky tr > * {
  position: sticky;
  opacity: 1;
  z-index: 1;
  background: white;
}
.thead-sticky tr:last-child > * {
  top: 0;
}
.tfoot-sticky tr:first-child > * {
  bottom: 0;
}
